@font-face {
    font-family: 'opensansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#opensansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Mozilla based browsers */
::-moz-selection {
       background-color: $red;
       color: $white;
}

/* Works in Safari */
::selection {
       background-color: $red;
       color: $white;
}

html{
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
	@include font-family();
	background-color: $gray;
    background-image: url('../images/body__bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	.wrap{
		&.container{
			background-color: $white;
			margin-top: 30px;
            .masshead{
                @include make-row();
                margin-bottom: 30px;
                .masshead-container{
                    padding: 80px 30px 15px;
                    
                    .page-header{
                        border-bottom: 1px solid transparent;
                        margin: 0 auto;
                        h1{
                            @include font-family('opensans', 'extrabold');
                            @include text-focus();
                        }
                        time{
                            @include text-focus();
                        }
                    }
                }
                &.no-image-bg{
                     @include gradient-horizontal( $blue-sky, $green, 0%, 100% );
                }
            }
            .content{
                
            }
		}
	}
    &.single, &.page, &.blog, &.archive{
        .wrap{
            background-color: $gray-lighter;
            .content{
                @include make-row(0);
            }
        }
    }
    &.home{
        .wrap{
            background-color: $white;
            .content{
                @include make-row();
            }
        }
    }
}

a{
    @include transition(all 1s ease);
    &:hover{
        text-decoration: none;
    }
}

img{}

.navbar{
	min-height: 30px;
}

.multimedia-video, .multimedia-photo{
    .section-title{
        h3{
            small{
                @media (min-width: $screen-sm-min){
                    @include fadeOutLeft();
                }
            }
        }
    }
    &:hover{
        .section-title{
            h3{
                small{
                    @media (min-width: $screen-sm-min){
                        @include fadeInRight();
                    }
                }
            }
        }
    }
}

/* Articles */
article{
    min-height: 150px;
    margin-bottom: 40px;
    background-color: $white;
    @include box-focus();
    header, footer, .entry-content, .entry-summary{
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        padding-top: 15px;
        padding-bottom: 15px;
        .entry-title{
            @include font-family('opensans', 'extrabold')
            @include font-size(24, 31);
            a{
                color: $gray-dark;
                &:hover{
                    color: $green;
                }
            }
        }
        time{
            color: $gray-light;
        }
    }
    .entry-container{
        @include make-row(0);
        .entry-left{
            @include gradient-horizontal( $blue-sky, $green, 0%, 100% );
            a{
                position: relative;
                display: block;
                img{
                    @include opacity(.7);
                }
            }
        }
        .entry-left, .entry-body{
            @include make-sm-column(6, 0);
        }
        .entry-body.no-image{
            @include make-sm-column(12, 0);
        }

        &:hover{
            .entry-left{
                @include gradient-horizontal( $blue-sky, $green, 50%, 100% );
                a{
                    img{
                        @include opacity(.85);
                    }
                }
            }
        }
    }
    &.documento{
        min-height: 50px;
        footer{
            background-color: $gray-lighter;
            margin-top: 15px;
            ul{
                @extend .list-inline;
                li{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    @include font-size(11);
                    i{
                        color: $gray-light;
                    }

                    a{
                        color: $gray;
                        &:hover{
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}

/* Gallery */
.gallery{
    @include make-row();
    margin-top: 30px;
    margin-bottom: 15px;
    .gallery-item{
        .gallery-icon{
            @include make-xs-column(6);
            padding-bottom: 15px;
            a{
                display: block;
                position: relative;
                img{
                    @extend .img-responsive;
                    border: 1px solid $gray-light;
                }
            }
        }
    }
    &.gallery-columns-3{
        .gallery-item{
            .gallery-icon{
                @include make-sm-column(4);
            }
        }
    }
}

/* Post Format Icons */
.fa {
    &.aside{
        &:before{
            content: $fa-var-columns;
        }
    }
    &.audio{
        &:before{
            content: $fa-var-music;
        }
    }
    &.chat{
        &:before{
            content: $fa-var-commenting;
        }
    }
    &.gallery{
        &:before{
            content: $fa-var-camera;
        }
    }
    &.image{
        &:before{
            content: $fa-var-image;
        }
    }
    &.link{
        &:before{
            content: $fa-var-link;
        }
    }
    &.quote{
        &:before{
            content: $fa-var-quote-right;
        }
    }
    &.status{
        &:before{
            content: $fa-var-smile-o;
        }
    }
    &.video{
        &:before{
            content: $fa-var-video-camera;
        }
    }
}